* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: black;
}

.trapstarR {
  text-align: center;
}
.trapstarR div nav {
  text-align: center;
  font-family: "Creepster", cursive;
}

footer {
  text-align: center;
  font-family: "Creepster", cursive;
  margin-top: 2px;
}
footer .mainFooter {
  text-align: center;
  font-family: "Creepster", cursive;
  margin-top: 10px;
  color: red;
}

main .streamTitle {
  color: blueviolet;
  text-align: center;
  background-color: black;
}

.presetancionS {
  color: white;
}

.xanProfile {
  text-align: center;
}

.xanP {
  width: 300px;
  border-radius: 50%;
}

.conzoFoto {
  width: 350px;
  border-radius: 50%;
}

.conzoProfile {
  text-align: center;
}
.conzoProfile .twitchConzo {
  text-align: center;
}

.twitch {
  text-align: center;
}

.trapsImg {
  width: 200px;
  text-align: center;
}

main {
  background-color: black;
}
main .raeProfile {
  text-align: center;
}

.contenedorM {
  background: linear-gradient(black, rgb(36, 22, 48));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.contenedorM .imgBar {
  border-radius: 40%;
  width: 400px;
}

.descripcion {
  color: white;
  font-family: "Creepster", cursive;
  text-align: center;
  margin: 4rem;
}

.YOUTUBE {
  text-align: center;
}

.mp4 {
  text-align: center;
}

.trapst .navbar {
  text-align: center;
  background-color: rgb(121, 117, 117);
  font-family: "Creepster", cursive;
}
.trapst .navbar .navUl {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
.trapst .navbar .navUl li {
  text-decoration: none;
  color: black;
}

main .showsTitle, main .videoTitle {
  text-align: center;
  color: blueviolet;
}

.contenedorS {
  background: linear-gradient(black, rgb(36, 22, 48));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.contenedorS img {
  width: 400px;
  border-radius: 30%;
}
.contenedorS h2 {
  color: white;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}

.BAR {
  text-align: center;
}
.BAR .barImg {
  width: 800px;
  align-content: center;
}

.barImg {
  width: 800px;
  text-align: center;
}

.imgBar {
  width: 300px;
}

.Circus {
  text-align: center;
}
.Circus .CircusMaps {
  width: 400px;
}

.TextShowCircus .CircusTitulo {
  text-align: center;
  color: blueviolet;
}
.TextShowCircus .CircusTitulo .CircusImg {
  text-align: center;
  width: 300px;
}

.CircusMaps {
  text-align: center;
}

.contenedorV {
  background: linear-gradient(black, rgb(36, 22, 48));
  display: flex;
  border-radius: 10%;
}
.contenedorV img {
  width: 400px;
  border-radius: 30%;
}

.textovideo {
  text-align: center;
}
.textovideo .Editoresdevideo {
  border-radius: 2%;
  width: 800px;
}

.textoRelleno {
  color: white;
  font-style: normal;
  font-size: 25px;
  text-align: left;
}

/* esto de de music*/
.videos {
  text-align: center;
  color: blueviolet;
}

h2 {
  color: white;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header .Titulo {
    text-align: center;
    width: 400px;
  }
  .xanP {
    text-align: center;
  }
  .BAR .barImg {
    width: 600px;
  }
  .Circus .CircusImg {
    width: 700px;
  }
}
@media (max-width: 1200px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header .Titulo {
    text-align: center;
    width: 300px;
  }
  .xanP {
    width: 300px;
    border: 100%;
  }
  .raeP {
    width: 200px;
    height: 215px;
  }
}
.barImg {
  width: 300px;
}

.TextShowCircus .CircusTitulo .CircusImg {
  width: 300px;
}

@media (max-width: 412px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header .Titulo {
    text-align: center;
    width: 300px;
  }
  .xanP {
    width: 300px;
    border: 100%;
  }
  .raeP {
    width: 200px;
    height: 215px;
  }
  .contenedorM {
    display: grid;
    grid-template-columns: none;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .fotovideo {
    text-align: center;
    width: 300px;
    border-radius: 20%;
  }
  .Editoresdevideo {
    width: 300px;
  }
  .BAR .barImg {
    width: 300px;
  }
  .Circus .CircusImg {
    height: auto;
    width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
