      @import "./utilities/variables";
      @import "./utilities/mixins";

      @import "./base/reset";
     
     @import "./layout/body";
     @import "./layout/main-index";
     @import "./layout/footer";
     @import "./layout/streaming";
     @import "./layout/music";
     @import "./layout/navbar";
     @import "./layout/show";
     @import "./layout/videos";

     @import "./layout/medias/media768";
     

     @media(max-width: 1200px)
  {
   
    header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .Titulo{
            text-align: center;
            width: 300px;
        }
    }
    .xanP{
        width: 300px;
        border: 100%;
      
    }
    .raeP{
          width: 200px;
          height: 215px;
          
      }
      

            
      }
      .barImg{
            width: 300px;
      }
      .TextShowCircus{
            .CircusTitulo{
                  .CircusImg{
                        width: 300px;
                        
                  }
            } 
            
      } 

      
@media(max-width: 412px)
  {
   
    header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
      .Titulo{
            text-align: center;
            width: 300px;
        }
    }
    .xanP{
        width: 300px;
        border: 100%;
      
    }
    .raeP{
      width: 200px;
      height: 215px;

  }

.contenedorM{
  display: grid;
  grid-template-columns: none;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  
  }

.fotovideo{
      text-align: center;
      width: 300px;
      border-radius: 20%;
}
.Editoresdevideo{
      width: 300px;
}
.BAR{
  .barImg{
      width: 300px;
}
}
    .Circus{
      .CircusImg{
        height: auto;
  width: 400px;}
}
}     


