footer{
    text-align: center;
    font-family: 'Creepster', cursive;
    margin-top: 2px;
    background-color: black;
    .mainFooter{    text-align: center;
        font-family: 'Creepster', cursive;
        margin-top: 10px;
        color: red;

    }
}