

.trapstarR{
    text-align: center;
    background-color: black;
    
    div{
        nav{
        text-align: center; 
        font-family: 'Creepster', cursive;
        background-color: black;}
        }
    }

