.trapsImg{
    width: 200px;
    text-align: center;
}

main{
    background-color: black;
    .raeProfile{
        text-align: center;
   
    
    }
 }

.contenedorM{
 @extend .contenedorST

        }
               
    .descripcion{
            color: white;
            font-family: 'Creepster', cursive;
            text-align: center;
        } 
    .YOUTUBE{
        text-align: center;
    }