.trapst{
    .navbar{
        text-align: center;
        background-color:rgb(121, 117, 117);
        font-family: 'Creepster', cursive;
        .navUl{
        @include flex;
        li{
            text-decoration: none;
            color: black;
        }
        
    }
    }
}        
 