main{
    .streamTitle{
        color: blueviolet;
        text-align: center;
        background-color: black;
       
                 
                 }   
                }
                
    .presetancionS{
        color:$font-color;
    }           
    .xanProfile{text-align: center;} 
   
      .contenedorST{
        background: linear-gradient(black, rgb(36, 22, 48));
        display: flex;
        border-radius: 10%; }  
        
        .xanP{
       width: 200px;
       border-radius: 50%;
           }
    .contenedorSTc{
        background: linear-gradient(black, rgb(36, 22, 48));
        display: flex; }  
        .conzoFoto{
         width: 200px;
        border-radius: 50%;
               }
    .conzoProfile{
        text-align: center;
    .twitchConzo{
    text-align: center;
}
    }
        
     
.twitch{
    text-align: center;
}    
