main{
    .videoTitle{
        @extend .showsTitle

        }
   

    }
 
 .contenedorV {
 
    img{
        width: 400px;
        border-radius:30%;
    }
    @extend .contenedorS
}


    .textovideo{
        text-align: center;
        .Editoresdevideo{
            border-radius: 2%;
            width:800px;
           
        }

    }
    .textoRelleno{
   @include textoR
    }
    





/* esto de de music*/
.videos{ 
    text-align: center;
    color: blueviolet;
    
}
h2{
    @include texto
}
