main{
    .videoTitle{
        @extend .showsTitle

        }
   

    }
 
 .contenedorV {
    background: linear-gradient(black, rgb(36, 22, 48));
        display: flex;
        border-radius: 10%; 
 
    img{
        width: 400px;
        border-radius:30%;
    }
   
    }


    .textovideo{
        text-align: center;
        .Editoresdevideo{
            border-radius: 2%;
            width:800px;
           
        }

    }
    .textoRelleno{
   @include textoR
    }
    
    





/* esto de de music*/
.videos{ 
    text-align: center;
    color: blueviolet;
    
}
h2{
    @include texto
}
