@media(max-width: 412px)
  {
   
    header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .xanP{
        width: 100px;
        height: 50px
    }
} .raeP{
        width: 200px;
        height: 215px;
    }