@media(max-width: 412px)
  {
   
    header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .Titulo{
            text-align: center;
            width: 300px;
        }
    }
    .xanP{
        width: 200px;
        height: 100px
    }
} .raeP{
        width: 200px;
        height: 215px;

    }

