@media(max-width: 768px){ 
    header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    .Titulo{
        text-align: center;
        width: 500px;

        }
    
}
.xanP{
    text-align: center;
}
}